body {
    background-color: gray;
}

.main .line {
    clear: both;
}
.main .line div {
    width: 40px;
    height: 40px;
    float: inline-start;
    margin: 1px;
    border: 2px solid rgb(163, 163, 167);
    border-radius: 4px;
    background-color: #fff;
    transition: background-color .5s;
}
.main .line div.s {
    background-color: rgb(41, 39, 39);
    transition: background-color .5s;
}
.main .line div.f {
    background-color: rgb(134, 6, 6);
    transition: background-color 2s;
}

.restartgame {
    width: 120px;
    height: 80px;
    background-color: rgb(179, 11, 11);
    font-size: 2em;
    color: rgb(189, 185, 185);
}

.startsc {
    position: fixed;
    
    width: 460px;
    height: 460px;
    background-color: black;
    margin-block: 1px auto;
    z-index: 11;
}

.loadbtn {
    width: 460px;
    height: 460px;
    font-size: 4em;
}
